<GridLayout rows="auto,auto,auto" columns="*,auto,*" >
    <Label [text]="title" colSpan="3"  horizontalAlignment="center" textWrap="true"></Label>
    
    <GridLayout row="1" col="0" (tap)="addFocus()" > </GridLayout>
    <TextField row="1" col="1"  class="m-t-3 textfield text-center" [(ngModel)]="inputValue"  id="fieldValue"
    (textChange)="changeValue($event)" keyboardType="number" [hint]="hint"></TextField>
    <GridLayout row="1" col="2" (tap)="addFocus()" rows="*" columns="*" verticalAlignment="middle">  
        <Label [text]="currencyType" col="2"  row="1" horizontalAlignment="left" verticalAlignment="middle" class="priceType m-l-5" textWrap="true"></Label>
    </GridLayout>
    
    <Slider row="2" colSpan="3" class="m-t-10" width="80%"  horizontalAlignment="center" [value]="sliderValue"   (valueChange)="onSliderValueChange($event)" [minValue]="minValue" [maxValue]="maxValue" col="0" row="2"></Slider>
</GridLayout>