<TabView androidTabsPosition="bottom">
    <page-router-outlet *tabItem="{title: 'Tab 1'}" name="tabOne" actionBarVisibility="never">
    </page-router-outlet>

    <page-router-outlet *tabItem="{title: 'Tab 4'}" name="teamFour" actionBarVisibility="never">
    </page-router-outlet>

    <page-router-outlet *tabItem="{title: 'Tab 3'}" name="tabThree" actionBarVisibility="never">
    </page-router-outlet>

    <page-router-outlet *tabItem="{title: 'Tab 2'}" name="tabTwo" actionBarVisibility="never">
    </page-router-outlet>
</TabView>