<ActionBar>
    <NavigationButton (tap)="goBack()" text="Go Back" android.systemIcon="ic_menu_back"></NavigationButton>
    <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="center">
        <!-- <Image src="~/images/logo-bar.png" class="logoapp"></Image> -->
    </StackLayout>
</ActionBar>


<ScrollView iosOverflowSafeArea="false" class="page-calcul-de-deal">
    <StackLayout orientation="vertical">
        <GridLayout columns="*" rows="*" width="100%" horizontalAlignment="center" class="bloc-calculateur">
            <GridLayout rows="*" columns="*">
                <ns-textfield title="this is the title" hint="0" currencyType="$"></ns-textfield>
            </GridLayout>
        </GridLayout>
    </StackLayout>
</ScrollView>