#btnFab {
  background-color: orangered;
  border-radius: 100%;
  color: white;
}

#btnFabSec {
  background-color: blue;
  border-radius: 100%;
  color: black;
}

.view {
    animation-name: rotate;
    animation-duration: 0.3;
}
@keyframes rotate {
    from { transform: scale(0, 0); }
    to { transform: scale(1, 1); }
}