<ActionBar title="Tab one" class="action-bar"></ActionBar>

<GridLayout>
    <StackLayout horizontalAlignment="center" verticalAlignment="middle">
        <Label [nsRouterLink]="['../CalculHypotheque']" text="Calcul-hypotheque" class="list-group-item"></Label>
        <Label [nsRouterLink]="['../CalculTxBienvenue']" text="Calcul-tx-bienvenue" class="list-group-item"></Label>
        <Label [nsRouterLink]="['../CalculConstructionNeuve']" text="Calcul-construction-neuve"
            class="list-group-item"></Label>
        <Label [nsRouterLink]="['../CalculHypothequeRestant']" text="Calcul-hypotheque-restant"
            class="list-group-item"></Label>
    </StackLayout>
</GridLayout>