<!-- <ActionBar title="Tab one" class="action-bar"></ActionBar>

<GridLayout rows="auto,*">
    
    <tu-tabs-bar row="0"  (indexChange)="tabIndexChanged($event)" [selectedIndex]='currentPagerIndex' [tabs]='tabs'></tu-tabs-bar>

    <Pager row="1" [items]="items" [itemTemplateSelector]="templateSelector" #pager [selectedIndex]="currentPagerIndex"
    (selectedIndexChange)="onIndexChanged($event)"    
    class="pager" backgroundColor="lightsteelblue">

        <ng-template pagerTemplateKey="calcOne" let-i="index" let-item="item">
            <GridLayout class="pager-item" rows="auto,auto,*" columns="*"> -->
                <ns-calcul-de-deal></ns-calcul-de-deal>
            <!-- </GridLayout>
        </ng-template>

        <ng-template pagerTemplateKey="calcTwo" let-i="index" let-item="item">
            <GridLayout class="pager-item" rows="auto,auto,*" columns="*">
                <ns-calcul-immeuble-six></ns-calcul-immeuble-six>
            </GridLayout>
        </ng-template>

        <ng-template pagerTemplateKey="calcThree" let-i="index" let-item="item">
            <GridLayout class="pager-item" rows="auto,auto,*" columns="*">
                <ns-calcul-pret-conventionnel></ns-calcul-pret-conventionnel>
            </GridLayout>
        </ng-template>

        <ng-template pagerTemplateKey="calcFour" let-i="index" let-item="item">
            <GridLayout class="pager-item" rows="auto,auto,auto,*" columns="*" backgroundColor="white">
                <ns-calcul-pret-prive></ns-calcul-pret-prive>
            </GridLayout>
        </ng-template>
    </Pager>

</GridLayout> -->