<ActionBar title="Tab one" class="action-bar"></ActionBar>

<GridLayout>
    <StackLayout horizontalAlignment="center" verticalAlignment="middle">
        <Label [nsRouterLink]="['../calculDeDeal']" text="calcul De Deal" class="list-group-item"></Label>
        <Label [nsRouterLink]="['../calculImmeubleSix']" text="calcu Immeuble Six" class="list-group-item"></Label>
        <Label [nsRouterLink]="['../calculPretConventionnel']" text="calcul-pret-conventionnel" class="list-group-item"></Label>
        <Label [nsRouterLink]="['../calculPretPrive']" text="calcul-pret-prive" class="list-group-item"></Label>
    </StackLayout>
</GridLayout>